
html, body{
  height: 100%;
  margin: 0;
  padding: 0
}

body{
  font-family: "Roboto", sans-serif;
}

html {
  background-color: slateblue;
}

a{
  text-decoration: none;
  color: black;
}

img{
  overflow-clip-margin: content-box;
  overflow: clip;
}

div{
  display: block;
}

.main-container{
  width: 80%;
  margin: 0 auto;
  padding: 0 auto;
  background-color: transparent;
  padding-bottom: 2rem;
  border-bottom: solid 2px;
}

li{
  transition: 0.3s;
}

.side-bar{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.499);
  backdrop-filter: blur(8px);
  box-shadow: -20px 0 20px rgba(0, 0, 0, 0.244);
  z-index: 999;
}

.side-bar ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  cursor: pointer;
}

.side-bar .xburgar{
  align-items: flex-end;
}

.xburgar .line-1{
  transform: rotate(-45deg) translate(-7px, 5px);
}

.xburgar .line-2{
  opacity: 0;
}

.xburgar .line-3{
  transform: rotate(45deg) translate(-7px, -5px);
}

.nav{
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: solid 2px ;
}

.nav, ul{
  display: flex;
  list-style: none;
  gap: 3rem;
  cursor: pointer;
}

.gambarlogo{
  height: 3rem;
  border-radius: 125px;
  border: solid 2px;
  border-color: black;
}

.logo{
  display: flex;
  align-items: center;
}

.logo-text{
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  font-size: large;
  margin-left: 1rem;
}

.burger{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-evenly;
  cursor: pointer;
  transition: 0.3s;
}

.xburgar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-evenly;
  cursor: pointer;
  transition: 0.3s;
}

.xburgar div{
  background-color: black;
  height: 2px;
  width: 25px;
  margin: 3px;
}


.burger div{
  background-color: black;
  height: 2px;
  width: 25px;
  margin: 3px;
}

section{
  /*border: solid 2px;*/
  margin: auto;
}

#aboutme{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 480px;
}

.home-kiri{
  align-items: center;
  
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  height: 1px;
  width: 30px;
  background: black;
  position: absolute;
  display: block;
  left: 0;
 top: 50%;
}

.home-title{
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.home-kiri p{
  text-align: justify;
}

.home-kanan{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0 0;
}

.home-kanan img{
  max-height: 400px;
  max-width: 90%;
  border-radius: 50%;
  border: solid 3px;
}

@media(max-width: 1920px){
  .logo-text{
    display: flex;
    gap: 0.5rem;
  }
}

@media(max-width: 1050px){
  .home-kanan{
    order: -1;
  }
  #aboutme{
    grid-template-columns: 1fr;
    height: fit-content;
  }
  .pre-title{
    text-align: center;
    margin: 40px auto;
    margin-bottom: 0;
  }
  .home-title{
    text-align: center;
  }
  .hide{
    display: none;
  }
  .logo-text{
    display: flex;
    gap: 0.5rem;
  }
  .burger{
    display: flex;
  }
}